

  .progress {
    display: flex;
    height: 1rem;
    overflow: hidden;
    font-size: 0.75rem;
    background-color: #e9ecef;
    border-radius: 0.25rem;
  }
  
  .progress-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #bd5d38;
    transition: width 0.6s ease;
  }

  a {
    color: #343a40;
  }

  a:hover {
    color: #bd5d38;
  }

h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
  font-family: "Saira Extra Condensed", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  line-height: 1.2;
  color: #343a40;
}

h1,
.h1 {
  font-size: calc(1.725rem + 5.7vw);
}
@media (min-width: 1200px) {
  h1,
  .h1 {
    font-size: 6rem;
  }
}

h2,
.h2 {
  font-size: calc(1.475rem + 2.7vw);
}
@media (min-width: 1200px) {
  h2,
  .h2 {
    font-size: 3.5rem;
  }
}

h3,
.h3 {
  font-size: calc(1.325rem + 0.9vw);
}
@media (min-width: 1200px) {
  h3,
  .h3 {
    font-size: 2rem;
  }
}

h4,
.h4 {
  font-size: calc(1.275rem + 0.3vw);
}
@media (min-width: 1200px) {
  h4,
  .h4 {
    font-size: 1.5rem;
  }
}

h5,
.h5 {
  font-size: 1.25rem;
}

h6,
.h6 {
  font-size: 1rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

h1, .h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  text-transform: uppercase;
}

.social-icons .social-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 3.5rem;
    width: 3.5rem;
    background-color: #495057;
    color: #fff;
    border-radius: 100%;
    font-size: 1.5rem;
    margin-right: 1.5rem;
  }
  .social-icons .social-icon:last-child {
    margin-right: 0;
  }
  .social-icons .social-icon:hover {
    background-color: #bd5d38;
  }

  .section-svg{
      display:inline;
      margin-left: 2vw;
      max-height: 9vw;
      max-width: 9vw;
  }

  .portfolio-section{
      margin: 8vh auto;
  }

  .accordion-button:not(.collapsed) {
    color: #495057;
    background-color: #ff976e;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.125);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.125);
}

.accordion-button::after{
    width:0;
}

