
  :root{
    --color-primary: #ff976e;
    --color-secondary: #70D7FF;
    --color-tertiary: #495057;
  }

  .progress {
    background-color: #e9ecef;
  }
  
  .progress-bar {
    background-color: var(--color-primary);
  }

  a {
    color: #343a40;
    transition: 0.25s;
  }

  a:hover {
    color: var(--color-primary);
  }

h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
  font-family: "Saira Extra Condensed", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  line-height: 1.2;
  color: #343a40;
}

h1,
.h1 {
  font-size: calc(1.725rem + 5.7vw);
}
@media (min-width: 1200px) {
  h1,
  .h1 {
    font-size: 6rem;
  }
}

h2,
.h2 {
  font-size: calc(1.475rem + 2.7vw);
}
@media (min-width: 1200px) {
  h2,
  .h2 {
    font-size: 3.5rem;
  }
}

h3,
.h3 {
  font-size: calc(1.325rem + 0.9vw);
}
@media (min-width: 1200px) {
  h3,
  .h3 {
    font-size: 2rem;
  }
}

h4,
.h4 {
  font-size: calc(1.275rem + 0.3vw);
}
@media (min-width: 1200px) {
  h4,
  .h4 {
    font-size: 1.5rem;
  }
}

h5,
.h5 {
  font-size: 1.25rem;
}

h6,
.h6 {
  font-size: 1rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

h1, .h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  text-transform: uppercase;
}

.social-icons .social-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 3.5rem;
    width: 3.5rem;
    background-color: var(--color-primary);
    color: #fff;
    border-radius: 100%;
    font-size: 1.5rem;
    margin-right: 1.5rem;
  }
  .social-icons .social-icon:last-child {
    margin-right: 0;
  }
  .social-icons .social-icon:hover {
    background-color: var(--color-secondary);
  }

  .progress-bar {
    transition: 1s;
  }


  .portfolio-section{
    animation: fadeIn 1s;
    margin: 8vh auto;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(100%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);

    }
  }

  .accordion-button:not(.collapsed) {
    color: var(--color-tertiary);
    background-color: var(--color-primary);
}

.accordion-button:hover{
  background-color: var(--color-secondary);
}

.accordion-button::after{
  width: 0;
}

#altCardTop,
#altCardBot,
#mainCard {
  transition: all 0.5s ease
}

h2:hover svg #altCardTop{
  transform: translateX(40%);
  opacity: 0;
  transition-delay: 0.2s;
}

h2:hover svg #altCardBot{
  transform: translateX(-40%);
  opacity: 0;
  transition-delay: 0.2s;
}

h2:hover svg #mainCard{
  animation: upanddown 1s forwards;
}

@keyframes upanddown {
  0%{
    transform: translateY(0)
  }
  50%{
    transform: translateY(-20%);
  }
  100%{
    transform: translateY(0);
  }
}

